<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
{% include 'head.html' %}
<body>

	<div class="body-inner">
		{% include 'social.html' %}
		{% include 'header.html' %}
		{% include 'carousel.html' %}
		{% include 'seccont.html' %}
		{% include 'secfeat.html' %}
		{% include 'secfact.html' %}
		{% include 'secserv.html' %}
		{% include 'secproject.html' %}
		{% include 'sechappy.html' %}
		{% include 'seccont1.html' %}
		{% include 'secnews.html' %}
		{% include 'footer.html' %}
		{% include 'script.html' %}
	</div><!-- Body inner end -->
</body>

</html>