{% load staticfiles %}
{% include 'head.html' %}
<body>

	<div class="body-inner">

		{% include 'social.html' %}
        {% include 'header.html' %}
 <div class="panel panel-success">

  <div class="panel-body">
<div class="well well-lg" align="center">
    <h3>Спасибо, Ваше сообщение отправлено!</h3>
    <div align="center"><a href="/"><button class="btn btn-primary solid blank" type="submit">Вернутся на главную</button></a></div>
  </div>
</div>
</div>
{% include 'footer.html' %}
{% include 'script.html' %}

</div><!-- Body inner end -->
</body>